body {
     background: #aecac9;
    font-size: 20px;
}

.aboutMe{
    font-size: 20px;
}
.headColor{
    font-style: italic;
}

.column {
    float: left;
    width: 33%;  
}

p.thick {
    font-weight: bold;
}
h2, h3 { 
    color: #030f03;
    text-decoration: underline;
}
.movieInfoHead{
    color: #4e060c;
    font-style: italic;
    font-size: 16px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}
