html {
	margin: 0;
	padding: 0;
}
.page-wrapper{
    display: flex;
    align-items: center;
}

.intro{
    flex: 4;
    margin-left: 0;
}

.intro2{
    flex: 1;
}

.intro2 {
    background: url(../Resources/images/side.jpg) repeat-y top left; 
}

body{
    background: url(../Resources/images/new_york.jpg) repeat-y top left; 
    background-color: #aecac9;
    background-blend-mode:hard-light;
}

.intro{
    background: #aecac9;
}

header {
    padding: 20px 0 20px 0;
    background: #2d6360 50%;
    text-align: center;
    color: white;
    font-size: 25px;
    font-style: italic;
}

.summary{
    text-align: center;
    font-style: italic;
    font-size: 13px;
}

h3{
    background: #dae4e3 50%;
    text-align: center;
    color: rgb(17, 17, 17);
    font-size: 16px;
}

footer { 
	text-align: center;
    background: #d0d3d3 50%;
    color: white;
    font-size: 20px;
    width: 80%;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}

p{
    margin-left: 10px;
    margin-right: 10px;
    
}